* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #000;
    background: #fff;
}
img{    
    border: none;
    vertical-align: middle;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    overflow: hidden;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #d7f3dd;
}
.loading i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
    display: block;
    width: 38px;
    height: 38px;
    background: url(../img/loading.png) no-repeat;
    animation: rotate 1s linear both infinite;
    -webkit-animation: rotate 1s linear both infinite;
}
.scene{
    position: absolute;
    width: 37640px;
    left: 0;
    right: 0;
}
.bg > div{
    float: left;
}
.adv{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    color: #d7f3dd;
}
.last{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.last .text{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    /*height: 225px;*/
    height: 0;
    background: url(../img/txt.png) center no-repeat;
    background-size: contain;
    transition: all 1s ease 2s;
    -webkit-transition: all 1s ease 2s;
}
.last .meilixiangcun{
    overflow: hidden;
    width: 620px;
    height: 285px;
    background: url(../img/meilixiangcun.png) no-repeat;
    transition: all 1s ease 2s;
    -webkit-transition: all 1s ease 2s;
}
.last.active .text{
    opacity: 1;
    visibility: visible;
    height: 225px;
}
.last.active .meilixiangcun{
    visibility: hidden;
    height: 0;
    opacity: 0;
}
.last .btns{
    margin-top: 40px;
}
.last .btns a{
    display: inline-block;
    margin: 0 5px;
    width: 280px;
    height: 66px;
    background: url(../img/btn.png) no-repeat;
    text-indent: 99999px;
}
.last .btns a:first-child{
    background-position: 0 -66px;
}
.bp{
    position: absolute;
    left: 0;
    top: 0;
}
.bp > div{
    position: absolute;
}
.bird1{
    left: 160px;
    top: 130px;
    width: 104px;
    height: 88px;
    background: url(../img/bird1.png);
}
.bird2{
    left: 350px;
    top: 130px;
    width: 92px;
    height: 82px;
    background: url(../img/bird2.png);
}
.bird3{
    left: 1295px;
    top: 215px;
    width: 42px;
    height: 27px;
    background: url(../img/bird3.png);
}
.bird4{
    left: 1360px;
    top: 255px;
    width: 41px;
    height: 33px;
    background: url(../img/bird4.png);
}
.bird5{
    left: 1400px;
    top: 190px;
    width: 31px;
    height: 56px;
    background: url(../img/bird5.png);
}
.bird6{
    left: 23934px;
    top: 100px;
    width: 78px;
    height: 77px;
    background: url(../img/bird6.png);
}
.bird7{
    left: 24260px;
    top: 205px;
    width: 111px;
    height: 54px;
    background: url(../img/bird7.png);
}
.bird8{
    left: 7275px;
    top: 240px;
    width: 35px;
    height: 22px;
    background: url(../img/bird8.png);
}
.bird9{
    left: 7305px;
    top: 215px;
    width: 42px;
    height: 27px;
    background: url(../img/bird9.png);
}
.bird10{
    left: 36035px;
    top: 155px;
    width: 53px;
    height: 56px;
    background: url(../img/bird10.png);
}
.bird11{
    left: 36138px;
    top: 200px;
    width: 85px;
    height: 65px;
    background: url(../img/bird11.png);
}
.people1{
    left: 5490px;
    top: 0;
    width: 348px;
    height: 640px;
    background: url(../img/people1.png);   
}
.people2{
    left: 8205px;
    top: 280px;
    width: 394px;
    height: 380px;
    background: url(../img/people2.png);   
}
.people3{
    left: 14590px;
    /*top: 410px;*/
    top: 210px;
    width: 288px;
    height: 212px;
    background: url(../img/people3.png);   
}
.people4{
    left: 19800px;
    top: 345px;
    width: 198px;
    height: 294px;
    background: url(../img/people4.png);   
}
.people5{
    left: 33925px;
    top: 115px;
    width: 730px;
    height: 527px;
    background: url(../img/people5.png);   
}
.locktip{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: #000;
    z-index: 9999;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.locktip i{
    display: block;
    width: 64px;
    height: 118px;
    background: url(../img/mobile-icon.png) no-repeat;
}
.locktip p{
    margin-top: 15px;
    color: #d7f3dd;
    font-size: 24px;
}
.sharetip{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,.8);
    visibility: hidden;
    opacity: 0;
    z-index: -1;    
    transform: translate3d(0, 0, 100px);
    -webkit-transform: translate3d(0, 0, 100px); 
    transition: all .3s;
    -webkit-transition: all .3s;
}
.sharetip.active{
    opacity: 1;
    z-index: 900;
    visibility: visible;
}
.sharetip .icon{
    position: absolute;
    left: 28px;
    top: 35px;
    width: 724px;
    height: 299px;
    background: url(../img/sharetip.png) no-repeat;
}
.sharetip .close{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 42px;
    height: 39px;
    background: url(../img/close.png) no-repeat;
}
.audio{
    position: absolute;
    z-index: 500;
    left: 20px;
    top: 20px;
    width: 55px;
    height: 48px;
    background-image: url(../img/audio.png);
    background-position: -55px 0;
    transform: translate3d(0,0,50px);
    -webkit-transform: translate3d(0,0,50px);
}
.audio.on{
    background-position: 0 0;
    animation: rotate 1.5s linear infinite;
}
.skip{
    position: absolute;
    width: 94px;
    height: 39px;
    top: 20px;
    right: 20px;
    background: url(../img/skip.png) no-repeat;
    transform: translate3d(0,0,50px);
    -webkit-transform: translate3d(0,0,50px);
}
@keyframes rotate {
    from { transform: rotate(0); transform-origin: center; }
    to { transform: rotate(360deg); transform-origin: center; }
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); -webkit-transform-origin: center; }
    to { -webkit-transform: rotate(360deg); -webkit-transform-origin: center; }
}
/* portrait */
@media screen and (orientation:portrait) {
    .locktip{
        display: none;
    }
}
/* landscape */
@media screen and (orientation:landscape) {
    .locktip{
        display: flex;
        display: -webkit-flex;
    }
}